<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!--<add name="AuthContext" connectionString="Data Source=TOMH-X64\MSSQL2012;Initial Catalog=USL_Authentication;User ID=USL;Password=password;" providerName="System.Data.SqlClient" />
      
    <add name="AuthContext2" connectionString="Data Source=TOMH-X64\MSSQL2012;Initial Catalog=USL_Authentication;User ID=USL;Password=password;" providerName="System.Data.SqlClient" />-->
    <!--<add name="AuthContext" connectionString="Data Source=rocj-edms-umsql;Initial Catalog=USL_Migration;User ID=sa;Password=P@ssw0rd123;" providerName="System.Data.SqlClient" />-->
    <!--<add name="AuthContext2" connectionString="Data Source=10.254.5.137,8443;Initial Catalog=USL_Migration;User ID=USL;Password=password;" providerName="System.Data.SqlClient" />
    <add name="AuthContext" connectionString="Data Source=10.254.5.137,8443;Initial Catalog=USL_Migration;User ID=USL;Password=password;" providerName="System.Data.SqlClient" />-->
    <!--<add name="AuthContext" connectionString="Data Source=rocj-edms-umsql;Initial Catalog=USL_Authentication;User ID=sa;Password=P@ssw0rd123;" providerName="System.Data.SqlClient" />
    <add name="AuthContext2" connectionString="Data Source=rocj-edms-umsql;Initial Catalog=USL_Authentication;User ID=sa;Password=P@ssw0rd123;" providerName="System.Data.SqlClient" />-->
    
    
    <!--  Original Turned Offadd name="AuthContext2" connectionString="Data Source=192.168.118.23;Initial Catalog=USL_Migration;User ID=sa;Password=Universal123;" providerName="System.Data.SqlClient" />
    <add name="AuthContext" connectionString="Data Source=192.168.118.23;Initial Catalog=USL_Migration;User ID=sa;Password=Universal123;" providerName="System.Data.SqlClient" /> -->
    
    <!--Jeff Added this || Local-->
    <add name="AuthContext" connectionString="Data Source=USMPSWL-WARDJE;Initial Catalog=Mechs;User ID=mechs;Password=password;" providerName="System.Data.SqlClient" />
    <add name="AuthContext2" connectionString="Data Source=USMPSWL-WARDJE;Initial Catalog=Mechs;User ID=mechs;Password=password;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="SolrUpdateSecureUrl" value="https://10.254.191.127:8983/solr" />
    <add key="SolrUpdateUnSecureUrl" value="http://10.254.191.127:8983/solr" />
    <add key="SolrSearchSecureUrl" value="https://10.254.191.127:8080" />
    <add key="SolrSearchUnSecureUrl" value="http://10.254.191.127:8080" />

    <add key="DmlCertificateThumbprint" value="798F02106110F51BB53947D6D4814631CE73A109" />
    <add key="UslCertificateThumbprint" value="E763BA7186EE1754D2BAD1E20A0A0446091FE553" />
    <add key="RecsCertificateSubject" value="CN=Router, OU=GLOBAL IT, O=UMPG, L=London, C=UK" />

    <!-- non reformation
    <add key="QualifyingWorksUnSecureUrl" value="http://10.144.11.252:9988/works.router/http"/>
	<add key="SafeApiUrl" value="https://10.144.11.252:9996/safe.router/http"/>
	<add key="RecsUnSecureUrl" value="http://10.144.11.252:9988/works.router"/>
    <add key="RecsSecureUrl" value="https://10.144.11.252:9996/works.secured.router"/>
	-->

    <!-- Reformation links -->
    <!-- <add key="QualifyingWorksUnSecureUrl" value="http://dev.esb.umpgapps.com:9998/works.router/http"/> -->
    <add key="QualifyingWorksUnSecureUrl" value="http://10.144.11.252:9998/works.router/http" />
    <!-- <add key="SafeApiUrl" value="https://10.144.11.252:9996/safe.router/http" />--> <!--Original-->
    <!--<add key="SafeApiUrl" value="https://dev.safe.umpgapps.com:9996/safe.router/http" /> --><!--Attempt at fix, pointing to new Dev IP-->
    <add key="SafeApiUrl" value="https://qa.esb.umpgapps.com:9995/safe.router/http"/>  <!-- This one works!  Jeff 3/14/2016 || http://spa.service/api/AuthenticateCTRL/authenticate/Test/hovist/internal  -->
    <add key="RecsUnSecureUrl" value="http://10.144.11.252:9998/works.router" />
    <add key="RecsSecureUrl" value="https://10.144.11.252:9995/works.secured.router" />


    <!--Amazon Keys-->
    <add key="AWSAccessKey" value="AKIAIJ76CNEMR6WIIHRA" />
    <add key="AWSSecretKey" value="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" />
    <add key="amazonS3BucketName" value="umpg-mechs-dev-files" />
    <!--Amazon Keys-->

    <!-- Temporary passwords for users -->
    <add key="55ca29d942662c60e3f790ec" value="01Music" />
    <add key="553778014266238ff239c2f3" value="01Music" />
    <add key="555068454266238ff239c344" value="01Music" />
    <add key="53a18b03426600241eb125d1" value="01Music" />
    <add key="55ca270942662c60e3f790e9" value="01Music" />
    <add key="5416c0814266282f57567654" value="01Music" />
    <add key="526aca704266cefd4365bdb8" value="01Music" />
    <add key="55ca27df42662c60e3f790ea" value="01Music" />
    <add key="55ca284742662c60e3f790eb" value="01Music" />

    <!-- reformation-->
    <add key="5112e58c7d457384b601bcac" value="01Music" />
    <!-- tom -->
    <add key="562a7df97d45bbc2a7fed285" value="01Music" />
    <!-- ionuts -->
    <add key="51ebe0d67d452581f56a1963" value="01Music" />
    <!-- laura -->

<!--****Tom on QA****-->
    <add key="53a18b03426600241eb125d1" value="01Music"/>
    
    <!--for Generate License and License Processor -->
    <add key="GeneratedLicensePreviewHtml" value="UploadedFiles" />
    <add key="UploadedFilesFolderPath" value="UploadedFiles" />
    <add key="ToEmail" value="ryan.christofferson@umusic.com" />
    <add key="FromEmail" value="umpgtest@hotmail.com" />
    <add key="Subject" value="(DEV env) UMPG License Request " />
    <add key="Content" value="Hello, Here is your UMPG License request." />

    <add key="cachingIsEnabled" value="false" />
    <add key="cacheTimeoutSeconds" value="600" />
    <add key="timingIsEnabled" value="true" />
    <add key="loggingIsEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <machineKey validationKey="BDE5239FBD71982481D87D815FA0A65B9F5982D99DFA96E6D92B782E0952D58818B479B19FF6D95263E85B0209297E6858B57D1E0BD3EFECE5E35742D605F2A7" decryptionKey="8E8496D7342EA258526CF6177E04EA7D208E359C95E60CD2A462FC062B9E41B3" validation="SHA1" decryption="AES" />
    <identity impersonate="false" />

  </system.web>
  <system.webServer>
    <httpProtocol>
    </httpProtocol>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <directoryBrowse enabled="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
