<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections> 
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="AuthContext" connectionString="Data Source=usaws01wvsql028,8443;Initial Catalog=mechs;User ID=mechs;Password=password;" providerName="System.Data.SqlClient" />
    <add name="AuthContext2" connectionString="Data Source=usaws01wvsql028,8443;Initial Catalog=mechs;User ID=mechs;Password=password;" providerName="System.Data.SqlClient" />  
  </connectionStrings>
      <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="DmlCertificateThumbprint" value="798F02106110F51BB53947D6D4814631CE73A109"/>
    <!--<add key="UslCertificateThumbprint" value="2533f0b161a53351b15b23fcd509a68648848291"/> From UAT-->
         <add key="UslCertificateThumbprint" value="E763BA7186EE1754D2BAD1E20A0A0446091FE553" /> <!--From Local-->
    <add key="RecsCertificateSubject" value="CN=Router, OU=GLOBAL IT, O=UMPG, L=London, C=UK"/>
    
    <add key="SolrUpdateSecureUrl" value="https://10.254.191.123:8983/solr" />
    <add key="SolrUpdateUnSecureUrl" value="http://10.254.191.123:8983/solr" />
    <add key="SolrSearchSecureUrl" value="https://10.254.191.123:8080" />
    <add key="SolrSearchUnSecureUrl" value="http://10.254.191.123:8080" />

	<!-- pre Reformation
    <add key="QualifyingWorksUnSecureUrl" value="http://ukbcewvapp074:9988/works.router/http"/>
    <add key="RecsSecureUrl" value="https://ukbcewvapp074:9983/works.secured.router"/>
    <add key="RecsUnSecureUrl" value="http://ukbcewvapp074:9988/works.router"/>
    <add key="SafeApiUrl" value="https://ukbcewvapp074:9983/safe.router/http"/>
-->
	<!-- Reformation links -->
	<add key="QualifyingWorksUnSecureUrl" value="http://uat.esb.umpgapps.com:9188/works.router/http"/>
	<add key="SafeApiUrl" value="https://uat.esb.umpgapps.com:9183/safe.router/http"/>
	<add key="RecsUnSecureUrl" value="http://uat.esb.umpgapps.com:9188/works.router"/>
    <add key="RecsSecureUrl" value="https://uat.esb.umpgapps.com:9183/works.secured.router"/>

    <!--for Generate License and License Processor -->
    <add key="GeneratedLicensePreviewHtml" value="UploadedFiles" />
    <add key="UploadedFilesFolderPath" value="UploadedFiles"/>
    <add key="ToEmail" value="ryan.christofferson@umusic.com" />
    <add key="FromEmail" value="umpgtest@hotmail.com" />
    <add key="Subject"  value="(UAT env) UMPG License Request " />
    <add key="Content" value="Please review and arrange for an authorized party to digitally sign the proposed license contained in the link below. Note that this proposed license will expire after 30 days if not fully executed by that time. Thereafter, the proposed licensee will need to re-contact UMPG to obtain a new proposed license. Please note UMPG reserves rights to revoke or revise this offer until the proposed license is fully digitally executed by all parties." />

    <add key="cachingIsEnabled" value="false"/>
    <add key="cacheTimeoutSeconds" value="600"/>
    <add key="timingIsEnabled" value="true"/>
    <add key="loggingIsEnabled" value="true"/>
	<!-- Amazon settings -->
	
	<!-- Temporary UAT users login -->
	<add key="56020f267d45a8673a9eefaa" value="01Music"/>
	<add key="539b1f157d45ebd493592f53" value="01Music"/>
	<add key="527043537d45a95d952d9928" value="01Music"/>
	<add key="53aac0997d45e37a1448f0a9" value="01Music"/> <!--tom-->
	<add key="525d8a0b7d45730b8158e2d2" value="01Music"/>
	<add key="54be97f57d4574cb494400fa" value="01Music"/>
	<add key="56005fcf7d45a8673a9eefa6" value="01Music"/>
	<add key="560060107d45a8673a9eefa7" value="01Music"/>
	<add key="5600603a7d45a8673a9eefa8" value="01Music"/>
	<add key="4f953052f038c50eaa8d77ba" value="01Music"/>
	<add key="55cde5827d452862ca971c61" value="01Music"/>
	<add key="55cde7dd7d452862ca971c63" value="01Music"/>
	<add key="55cde71d7d452862ca971c62" value="01Music"/>
	<add key="55cde8927d452862ca971c64" value="01Music"/>
	<add key="55cde91f7d452862ca971c65" value="01Music"/>
	<add key="560061797d45a8673a9eefa9" value="01Music"/>
	<add key="4f953083f038c50eaa8d77bb" value="01Music"/>  <!-- randi olsen -->
	<add key="56d4ca727d45bc17d0d8d8c1" value="01Music"/>  <!-- John Street -->
	<add key="50f5bf2a7d45c99be3d4abec" value="01Music"/>  <!-- Kevin Krivashei -->
	
	

	
	<add key="AWSAccessKey" value="AKIAI4YTGGI4S3KSZIYQ"/>
    <add key="AWSSecretKey" value="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"/>
    <add key="amazonS3BucketName" value="umpg-mechs-uat-files"/>
  </appSettings>  
	
	
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <machineKey validationKey="BDE5239FBD71982481D87D815FA0A65B9F5982D99DFA96E6D92B782E0952D58818B479B19FF6D95263E85B0209297E6858B57D1E0BD3EFECE5E35742D605F2A7" decryptionKey="8E8496D7342EA258526CF6177E04EA7D208E359C95E60CD2A462FC062B9E41B3" validation="SHA1" decryption="AES" />
        <identity impersonate="false" />

  </system.web>
  <system.webServer>
    <httpProtocol>
    </httpProtocol>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <directoryBrowse enabled="false" />
	
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Cors" publicKeyToken="31BF3856AD364E35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
			</dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  
<!-- <system.net>
  <defaultProxy>
    <proxy
      proxyaddress="http://127.0.0.1:8888"
      bypassonlocal="false"    />
  </defaultProxy>
</system.net>
-->
</configuration>
